{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Rooms</h1>
    <p class="page__text">Here, you have the option to create a new room or book an existing one. Simply select
        the room you want to reserve.</p>

    {% if is_granted('room_create') %}
        <a href="{{ path('app_room_new') }}" class="create-link">Create new room</a>
    {% endif %}
    <section class="list-item">
        <div class="tag-item">
            <h2>Public rooms</h2>
            {{ include('room/_list.html.twig', {'rooms': publicRooms}) }}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h2>I'm member of these rooms</h2>
                {{ include('room/_list.html.twig', {'rooms': memberRooms}) }}

                <h2>I'm admin of these rooms</h2>
                {{ include('room/_list.html.twig', {'rooms': adminRooms}) }}

                {% if allRooms != null and is_granted('ROLE_SUPER_ADMIN') %}
                    <h2>All rooms</h2>
                    {{ include('room/_list.html.twig', {'rooms': allRooms}) }}
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}
