{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    {% if is_granted('group_index_view') %}
        <a href="{{ path('app_group_index') }}" class="back-link">back to list</a>
    {% endif %}
    <main>
        <section>
            <h1>Group: {{ group.name }}</h1>
            <aside class="list-item">
                <div class="tag-item">
                    <h2>Members</h2>
                    <ul>
                        {% for member in group.members %}
                            <li>
                                <a href="{{ path('app_user_show', {'id': member.id}) }}" data-user-id="{{ member.id }}" class="username-link">{{ member.username }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tag-item">
                    <h2>Admins</h2>
                    <ul>
                        {% for admin in group.admins %}
                            <li>
                                <a href="{{ path('app_user_show', {'id': admin.id}) }}" data-user-id="{{ admin.id }}" class="username-link">{{ admin.username }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tag-item">
                    <h2>Rooms</h2>
                    <ul>
                        {% for room in group.rooms %}
                            <li>
                                <a href="{{ path('app_room_show', {'id': room.id}) }}" data-room-id="{{ room.id }}" class="room-link">{{ room.codeName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
            <div class="actions-wrapper">
                {% if is_granted('group_edit', group) %}
                    <a href="{{ path('app_group_edit', {'id': group.id}) }}" class="action-link">Edit</a>
                {% endif %}
                {% if is_granted('group_delete', group) %}
                    {{ include('group/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </section>
    </main>
    <div id="profile-preview" style="display: none;"></div>
{% endblock %}
