<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pendrej Reservations App{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('styles/reservations.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash__{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% include 'components/_header.html.twig' %}
        <div class="content-wrapper">
        {% include 'components/_sidebar.html.twig' %}
            <div class="main-content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
