<header class="app-header">
    <nav>
        <a class="nav__item" href="{{ path('app_index') }}">
            Pendrej Reservations App
        </a>
        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
            <section>
                <a class="nav__item" href="{{ path('app_user_show', {'id': app.user.id}) }}">{{ app.user.firstName }} {{ app.user.secondName }}</a>
                <a class="nav__item" href="{{ path('app_logout') }}">Logout</a>
            </section>
        {% else %}
            <a class="nav__item" href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </nav>
</header>